$color-primary: rgb(45, 129, 255);
$color-primary-dark: rgb(27, 98, 204);
$color-primary-tint: rgb(91, 154, 248);
$color-primary-background: rgb(231, 240, 253);
$color-success: #67c23a;
$color-success-dark: #529b2e;
$color-success-tint: #86da5c;
$color-success-background:#e2f5d9;
$color-warning: #e6a23c;
$color-warning-dark: #e6a23c;
$color-warning-tint: #e6a23c;
$color-warning-background:#f8f0e5;
$color-danger: #f56c6c;
$color-danger-dark: #a84242;
$color-danger-tint: #fd9898;
$color-danger-background: #fcecec;
$color-info: #909399;
$color-info-dark: #6e6e70;
$color-info-tint: #cccdcf;
$color-info-background: none;