.app-button-group {
  .app-button {
    border-radius: 0;
    margin-left: 1px;
    &:first-of-type {
      border-start-start-radius: 4px;
      border-end-start-radius:  4px;
    }
    &:last-of-type {
      border-start-end-radius: 4px;
      border-end-end-radius: 4px;
    }
  }
}


.app-checkbox-group {
  .checkbox-button {
    border-radius: 0 !important;
    margin-left: -1px;
    transition: all 0.3s ease-in-out;
    &:hover {
      input ~ label {
        color: $color-primary;
        transition: all 0.3s ease-in-out;
      }
    }
    &:first-of-type {
      border-start-start-radius: 4px  !important;;
      border-end-start-radius:  4px  !important;;
    }
    &:last-of-type {
      border-start-end-radius: 4px   !important;;
      border-end-end-radius: 4px  !important;;
    }

  }
}